.background {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: "flex";
  filter: blur(3px);
  -webkit-filter: blur(3px);
  justify-content: "center";
  align-items: "center";
  background-color: rgba(169, 143, 117, 0.5);
}

.inner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;
}

.profilePicture {
  background: url("./profile.jpg") no-repeat center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  margin-bottom: 10px;
}

.addTask {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}

.inputDiv {
  padding: 0;
}

.addBtn {
  height: 100%;
  width: 100%;
  background-color: #a98f75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn:focus {
  border: 0px;
  box-shadow: "none";
}

.addBtn:active {
  border: 0px;
  box-shadow: "none";
}

.logoutDiv {
  position: absolute;
  top: 30px;
  right: 30px;
}

.tasksList {
  background-color: rgba(229, 217, 210, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 5px;
  height: 250px;
  width: 100%;
  margin-top: 10px;
}

.titleInput {
  border: 0px;
  box-shadow: "none";
}

.btnConatiner {
}

.typeContainer {
  backdrop-filter: blur(5px);
  border: 1px solid white;
  background-color: rgba(169, 143, 117, 0.5);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:focus,
.form-select:focus,
.titleInput {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-select option {
  background-color: #fff;
  color: #333;
}

.form-select option:hover,
.form-select option:focus {
  background-color: #333;
  color: #fff;
}

.row {
  margin: 0;
}
