.App {
  text-align: center;
}

.my-btn {
  font-weight: bold;
  border: 2px solid;
  color: #efeee5;
  border-radius: 50px;
  border-color: #efeee5;
}

.my-btn:hover {
  background-color: #1a1a1d;
  border-color: #1a1a1d;
  color: #efeee5;
  transition: 500ms;
}

.my-btn2 {
  font-weight: bold;
  border: 2px solid;
  color: #efeee5;
  border-radius: 50px;
  background-color: #1a1a1d;
  border-color: #1a1a1d;
}

.my-btn2:hover {
  background-color: #6f2232;
  border-color: #6f2232;
  color: #efeee5;
  transition: 500ms;
}
